.show-card {
    border: 1px solid red;
    box-shadow: 10px 10px 5px rgb(7, 122, 7);
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;

    .navigation {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid red;
        padding-top: 20px;

    }

}



.techs {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 20px;
}